.location-modal-slide,
.works-modal-slide {
  --fancybox-bg: #fff;
  color: $text_color1;
}

.fancybox__caption {
  margin-top: 16px;
  padding: 0;

  font-weight: 500;
  font-size: 16px;
  line-height: 24px;

  @media screen and (max-width: 1065px) {
    font-size: 14px;
    line-height: 24px;
  }
}

.fancybox__nav {
  position: relative;
  bottom: 50%;
  max-width: 1240px;
  margin: 0 auto;

  @media screen and (max-width: 1340px) {
    width: 965px;
  }

  @media screen and (max-width: 1065px) {
    width: 85%;
  }
}
