* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100%;

  color: $text_color1;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 500;
}

// .wrapper {
//   display: flex;
//   flex-direction: column;
//   min-height: 100%;
// }

// header,
// footer {
//   flex: 0 0 auto;
// }

// main {
//   flex: 1 1 auto;
//   background-color: #123;
// }


a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

img {
  width: 100%;
  display: block;
}

.container {
  max-width: 1270px;
  padding: 0 15px;
  margin: 0 auto;

  @media screen and (max-width: 1024px) {
    max-width: 890px;
  }

  @media screen and (max-width: 896px) {
    max-width: 100%;
  }
}

.btn {
  border: none;
  border-radius: 10px;
  background: linear-gradient(180deg, #FFA96B -21.43%, #EE7A28 100%);
  color: #fff;

  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;

  cursor: pointer;
  @include transition(background);

  &:hover {
    background: linear-gradient(180deg, #FFA96B 58.75%, #EE7A28 173.44%);
  }

  &:active {
    background: linear-gradient(180deg, #FFA96B 58.75%, #EE7A28 173.44%);
  }

  @media screen and (max-width: 896px) {
    font-size: 14px;
    line-height: 17px;
  }
}

.title {
  font-weight: 600;
  font-size: 36px;
  line-height: 120%;
  text-align: center;

  @media screen and (max-width: 1024px) {
    font-size: 30px;
  }

  @media screen and (max-width: 896px) {
    font-size: 24px;
    line-height: 140%;
  }
}

.play-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

//TABLE
@media screen and (max-width: 1024px) {}

//MOBILE
@media screen and (max-width: 896px) {}

/*
@media screen and (max-width: 1199.98px) {}

@media screen and (max-width: 991.98px) {}

@media screen and (max-width: 767.98px) {}*/

@media screen and (max-width: 1024px) {}

@media screen and (max-width: 896px) {}