.slider {
  position: relative;

  // &__wrapper {
  // }

  // &__slide {
  // }

  &__button {
    position: absolute;
    top: 50%;
    z-index: 100;

    width: 73px;
    height: 73px;
    border-radius: 50%;

    background-color: white;

    display: flex;
    align-items: center;
    justify-content: center;

    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
    transform: translateY(-50%);
    cursor: pointer;
    @include transition();

    @media screen and (max-width: 1024px) {
      width: 64px;
      height: 64px;
    }

    @media screen and (max-width: 936px) {
      width: 36px;
      height: 36px;
    }

    &-icon {
      width: 24px;
      height: 45px;

      stroke: $accent_color;
      @include transition();

      @media screen and (max-width: 936px) {
        width: 13px;
      }
    }

    &-prev {
      left: percent(calc(-73px / 2), 1270px);
    }

    &-next {
      right: percent(calc(-73px / 2), 1270px);

      & > svg {
        transform: rotate(180deg);
      }
    }

    &-disabled {
      opacity: 0.35;
      cursor: auto;
      pointer-events: none;
    }

    &:hover {
      background-color: $bg_color1;
    }

    &:active {
      background-color: $accent_color;
    }

    &:active &-icon {
      stroke: white;
    }
  }
}

.locations {
  &__slider {
    &-container {
      width: 1240px;

      @media screen and (max-width: 1340px) {
        width: 940px;
      }

      @media screen and (max-width: 1024px) {
        width: 864px;
      }

      @media screen and (max-width: 936px) {
        width: 635px;
      }

      @media screen and (max-width: 665px) {
        width: 310px;
      }
    }
  }

  &__slide {
    position: relative;
    cursor: pointer;

    .slide__content {
      position: relative;
      border-radius: 15px;
      overflow: hidden;

      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 3;

        background: linear-gradient(180deg, rgba(25, 25, 25, 0) 53.07%, #191919 121.9%);
        opacity: 0;
        @include transition;
      }
    }

    .slide__title {
      position: absolute;
      bottom: 16px;
      left: 32px;
      z-index: 5;

      opacity: 0;
      color: $color_white;
      @include transition;
    }

    &:hover .slide__title,
    &:hover .slide__content::after {
      opacity: 1;
    }
  }

  .slider__button {
    &-prev {
      @media screen and (max-width: 1345px) {
        left: percent(calc(-73px / 2), 864px);
      }

      @media screen and (max-width: 1024px) {
        left: percent(calc(-64px / 2), 864px);
      }

      @media screen and (max-width: 936px) {
        left: percent(calc(-36px / 2), 635px);
      }

      @media screen and (max-width: 665px) {
        left: percent(calc(-36px / 2), 350px);
      }
    }

    &-next {
      @media screen and (max-width: 1345px) {
        right: percent(calc(-73px / 2), 864px);
      }

      @media screen and (max-width: 1024px) {
        right: percent(calc(-64px / 2), 864px);
      }

      @media screen and (max-width: 936px) {
        right: percent(calc(-36px / 2), 635px);
      }

      @media screen and (max-width: 665px) {
        right: percent(calc(-36px / 2), 350px);
      }
    }
  }
}

.reviews {
  &__slider {
    width: 1052px;

    @media screen and (max-width: 1240px) {
      width: 701px;
    }

    @media screen and (max-width: 730px) {
      width: 340px;
    }

    .slider__slide {
      width: 340px;
      display: flex;
      align-items: center;
      flex-direction: column;
      align-self: flex-end;
      transform: initial;

      &-active {
        height: 550px;

        @media screen and (max-width: 1240px) {
          height: auto;
        }
      }
    }

    .slider__avatar {
      max-width: 236px;
      margin-bottom: 30px;
    }

    .slider__content {
      @extend %displayCenter;
      flex-direction: column;
      text-align: center;
    }

    .slider__title {
      font-weight: 600;
      font-size: 24px;
      line-height: 24px;
      color: $text_color2;
      margin-bottom: 14px;
    }

    .slider__text {
      font-weight: 500;
      font-size: 16px;
      line-height: 26px;
      color: $text_color1;
    }

    &-controls {
      @media screen and (max-width: 730px) {
        position: absolute;
        top: 50%;
        width: 340px;
      }

      .slider__button-prev {
        left: 16px;
      }
      .slider__button-next {
        right: 16px;
      }
    }
  }
}

.works {
  &__slider {
    max-width: 1440px;
    padding: 37px 0;
    margin: 0;

    @media screen and (max-width: 1024px) {
      width: 1024px;
      padding: 27px 0;
    }

    @media screen and (max-width: 625px) {
      width: 625px;
      padding: 16px 0;
    }

    .swiper-slide-active {
      transform: scale(1.13);
      z-index: 1;
      transition: all 0.3s ease-in-out;

      box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
    }

    &-btn-prev {
      left: percent(310, 1440);
    }

    &-btn-next {
      right: percent(310, 1440);
    }

    &-pagination {
      position: initial;
      bottom: 0;
      margin-top: 40px;

      @extend %displayCenter;

      @media screen and (max-width: 1024px) {
        margin-top: 30px;
      }

      @media screen and (max-width: 625px) {
        margin-top: 13px;
      }

      & > .swiper-pagination-bullet {
        width: 6px;
        height: 6px;
        background: $color_grey;
        opacity: 1;
        margin: 0 14px 0 0 !important;

        &:last-child {
          margin: 0 !important;
        }
      }

      & > .swiper-pagination-bullet-active {
        width: 12px;
        height: 12px;
        background: $accent_color;
      }
    }
  }
}
