$accent_color: #E97522;
$color_grey: #B1B1B1;
$color_white: #fff;

$text_color1: #333333;
$text_color2: #4A4A4A;
$text_white: #F5F5F5;

$bg_color1: #F2F4F4;
$bg_color2: #F9F4EE;
;
//BASE OPHTION
//zindex
$zindex: 1;
$zindexOverlay: 100;
$zindexModal: 1000;
$zindexTop: 9999;