.backvoice {
  margin-bottom: 148px;
  @extend %displayCenter;

  @media screen and (max-width: 896px) {
    flex-direction: column;
  }

  &__map {
    width: 650px;
    height: 540px;

    @media screen and (max-width: 1024px) {
      width: 380px;
    }

    @media screen and (max-width: 896px) {
      width: 340px;
    }
  }

  &__decor {
    position: absolute;
    border-radius: 50%;

    &.decor1 {
      top: percent(-91, 594);
      right: percent(-75, 551);

      width: 264px;
      height: 264px;
      background: rgba(0, 0, 0, 0.03);

      @media screen and (max-width: 1024px) {
        top: percent(-65, 594);
        right: percent(-81, 482);

        width: 201px;
        height: 201px;
      }

      @media screen and (max-width: 896px) {
        top: percent(-111, 541);
        right: percent(-115, 321);
      }
    }

    &.decor2 {
      top: percent(116, 594);
      right: percent(-49, 551);

      width: 106px;
      height: 106px;
      background: rgba(0, 0, 0, 0.04);

      @media screen and (max-width: 1024px) {
        top: percent(103, 594);
        right: percent(-63, 482);
      }

      @media screen and (max-width: 896px) {
        top: percent(57, 541);
        right: percent(-97, 321);
      }
    }

    &.decor3 {
      bottom: percent(-220, 594);
      left: percent(-130, 551);

      width: 333px;
      height: 333px;

      background: rgba(0, 0, 0, 0.03);

      @media screen and (max-width: 1024px) {
        left: percent(-182, 482);
      }

      @media screen and (max-width: 896px) {
        bottom: percent(-213, 541);
        left: percent(-222, 321);
      }
    }
  }

  &__form {
    position: relative;
    width: 550px;
    z-index: 3;
    padding: 85px 35px;
    background: $bg_color1;
    border-radius: 25px;

    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden;

    &-content {
      width: 100%;
    }

    @media screen and (max-width: 1024px) {
      width: 480px;
      padding: 75px 50px;
    }

    @media screen and (max-width: 896px) {
      margin-top: -45px;
      padding: 50px 20px;
      max-width: 320px;
    }
  }
}

@import './map';
