.backvoice {
  margin-bottom: 148px;
  @extend %displayCenter;

  @media screen and (max-width: 896px) {
    flex-direction: column;
  }

  &__map {
    width: 650px;

    @media screen and (max-width: 1024px) {
      width: 382px;
    }

    @media screen and (max-width: 896px) {
      max-width: 340px;
      width: 100%;
    }
  }

  &__decor {
    position: absolute;
    border-radius: 50%;

    &.decor1 {
      top: percent(-91, 594);
      right: percent(-75, 551);

      width: 264px;
      height: 264px;
      background: rgba(0, 0, 0, 0.03);

      @media screen and (max-width: 1024px) {
        top: percent(-65, 594);
        right: percent(-81, 482);

        width: 201px;
        height: 201px;
      }

      @media screen and (max-width: 896px) {
        top: percent(-111, 541);
        right: percent(-115, 321);
      }
    }

    &.decor2 {
      top: percent(116, 594);
      right: percent(-49, 551);

      width: 106px;
      height: 106px;
      background: rgba(0, 0, 0, 0.04);

      @media screen and (max-width: 1024px) {
        top: percent(103, 594);
        right: percent(-63, 482);
      }

      @media screen and (max-width: 896px) {
        top: percent(57, 541);
        right: percent(-97, 321);
      }
    }

    &.decor3 {
      bottom: percent(-220, 594);
      left: percent(-130, 551);

      width: 333px;
      height: 333px;

      background: rgba(0, 0, 0, 0.03);

      @media screen and (max-width: 1024px) {
        left: percent(-182, 482);
      }

      @media screen and (max-width: 896px) {
        bottom: percent(-213, 541);
        left: percent(-222, 321);
      }
    }
  }
}

@import './map';
