.decor {
  padding-top: 120px;

  @media screen and (max-width: 896px) {
    padding-top: 62px;
  }

  &__content {
    position: relative;
    height: 644px;
    background-color: #999999;
    background-image: url(../images/icon_play-gray-light.svg);
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;

    @media screen and (max-width: 1024px) {
      height: 674px;
    }

    @media screen and (max-width: 896px) {
      height: 375px;
    }
  }
}
