.locations {
  padding-top: 120px;
  background-image: url(../../images/location_bg.svg);
  background-repeat: no-repeat;
  background-size: cover;

  @media screen and (max-width: 1024px) {
    padding-top: 95px;
  }

  @media screen and (max-width: 896px) {
    padding-top: 60px;
  }

  &__container {
    @extend %displayCenter;
    flex-direction: column;
  }

  &__btn {
    margin-top: 60px;
    padding: 14px 54px;

    @media screen and (max-width: 960px) {
      margin-top: 32px;
    }
  }
}