.main-screen {
  position: relative;
  background-color: #444;
  color: $text_white;
  padding: 145px 0;

  @media screen and (max-width: 1024px) {
    height: initial;
    padding: 70px 0;
  }

  @media screen and (max-width: 896px) {
    padding: 183px 0;

    display: flex;
    align-items: center;
  }

  &__play-icon svg {
    & path {
      fill: #575757;
    }

    @media screen and (max-width: 1024px) {
      width: 96px;
      height: 112px;
    }

    @media screen and (max-width: 896px) {
      width: 36px;
      height: 41px;
    }
  }

  &__content {
    position: relative;
    z-index: 2;
    width: 815px;

    @media screen and (max-width: 1024px) {
      width: 773px;
    }

    @media screen and (max-width: 896px) {
      width: initial;
      text-align: center;
    }
  }

  &__heading {
    font-weight: 700;
    font-size: 66px;
    line-height: 78px;

    &-ls {
      letter-spacing: 3.2px;
    }

    margin-bottom: 56px;

    @media screen and (max-width: 1024px) {
      font-size: 48px;
      line-height: 52px;
      letter-spacing: 2.3px;
      margin-bottom: 32px;
    }

    @media screen and (max-width: 896px) {
      font-size: 24px;
      line-height: 140%;
      letter-spacing: 1.2px;
    }
  }

  &__title {
    text-align: initial;
    margin-bottom: 24px;

    @media screen and (max-width: 1024px) {
      font-size: 24px;
      line-height: 140%;
      margin-bottom: 15px;
    }

    @media screen and (max-width: 896px) {
      display: none;
    }
  }

  &__text {
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 28px;

    @media screen and (max-width: 1024px) {
      font-size: 16px;
      line-height: 26px;
      margin-bottom: 32px;
    }

    @media screen and (max-width: 896px) {
      display: none;
    }
  }

  &__btn {
    width: 366px;
    height: 64px;
    transition: all 0.3s ease-in-out;

    // &:active {
    //   width: 319px;
    //   height: 56px;
    // }

    @media screen and (max-width: 896px) {
      width: 320px;
      height: 56px;

      &:active {
        width: 281px;
        height: 49px;
      }
    }
  }
}
