.menu {
  @media screen and (max-width: 896px) {
    position: absolute;
    @include zindex($zindexOverlay);
    top: 50px;
    right: 0;
    width: 100%;
    height: 100vh;

    background-color: rgba(15, 15, 15, 0.7);

    padding: 16px;
    @include transition;

    opacity: 0;
    visibility: hidden;

    &.show {
      opacity: 1;
      visibility: visible;
    }
  }

  &__list {
    @extend %displayCenter;

    @media screen and (max-width: 896px) {
      align-items: end;
      flex-direction: column;

      font-weight: 600;
      line-height: 20px;
    }
  }

  &__item {
    @media screen and (max-width: 1024px) {
      font-size: 12px;
    }

    &:not(:last-child) {
      margin-right: 32px;

      @media screen and (max-width: 1024px) {
        margin-right: 24px;
      }

      @media screen and (max-width: 896px) {
        margin-bottom: 16px;
        margin-right: 0;
      }
    }
  }

  &__link {
    font-size: 14px;
    line-height: 20px;
    color: $text_color2;

    @include transition;

    &:hover {
      color: $text_color1;
    }

    &:active {
      color: $accent_color;
    }

    @media screen and (max-width: 1024px) {
      font-size: 12px;
    }

    @media screen and (max-width: 896px) {
      font-size: 14px;
      color: white;
    }
  }
}
