.modals {
  .fancybox__slide {
    padding: 0;
  }

  .fancybox__backdrop {
    background: rgba(15, 15, 15, 0.7);
  }
}

.modal {
  &__content {
    display: none;
    background: white;
    border-radius: 15px;
    padding: 0;
    margin: 0 15px;

    //Кнопка закрывания модалки
    & > .carousel__button.is-close {
      position: absolute;
      z-index: 100;
      top: -39px;
      right: 0;

      color: #fff;
      cursor: pointer;

      @include transition;

      &:hover {
        color: $accent_color;
      }

      @media screen and (max-width: 896px) {
        top: 12px;
        right: 12px;
        color: #d8d8d8;
      }
    }
  }

  &__body {
    padding: 60px 40px;

    @extend %displaySpaceBeetwen;
    gap: 26px;

    @media screen and (max-width: 1090px) {
      padding: 30px 20px;
    }

    @media screen and (max-width: 1024px) {
      padding: 50px;
    }

    @media screen and (max-width: 896px) {
      padding: 18px 17px 32px 18px;
      flex-direction: column;
    }

    &-col {
      @media screen and (max-width: 896px) {
        flex-direction: column-reverse;
      }
    }

    &-hidden {
      display: none;
    }
  }

  &__img {
    width: 455px;

    @media screen and (max-width: 1024px) {
      width: 363px;
    }

    @media screen and (max-width: 896px) {
      width: 112px;
    }
  }

  &__message {
    position: relative;

    &-sucsses {
      display: none;
    }

    &-error {
      display: none;
    }

    &-show {
      display: block;
    }
  }
}

.message {
  width: 622px;
  flex-direction: column;
  padding: 88px 83px;
  text-align: center;

  overflow: hidden;
  z-index: 10;
  border-radius: 15px;
  cursor: default;

  @media screen and (max-width: 896px) {
    width: 337px;
    padding: 99px 23px;
  }

  @media screen and (max-width: 350px) {
    width: 280px;
  }

  &__title {
    font-weight: 600;
    font-size: 36px;
    line-height: 120%;

    color: #4a4a4a;
    z-index: 10;

    @media screen and (max-width: 896px) {
      font-size: 22px;
    }
  }

  &__text {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;

    margin-top: 24px;
    color: #121621;
    opacity: 0.4;
    z-index: 10;

    @media screen and (max-width: 896px) {
      margin-top: 16px;
    }
  }

  &__decor {
    position: absolute;
    z-index: -1;
    border-radius: 50%;

    &-1 {
      left: percent(-177, 622);
      top: percent(100, 331);

      width: 264px;
      height: 264px;
      background: #f9f4ee;

      @media screen and (max-width: 896px) {
        left: percent(-177, 337);
      }
    }

    &-2 {
      left: percent(2, 622);
      top: percent(275, 331);

      width: 106px;
      height: 106px;

      background: #f9f4ee;
      mix-blend-mode: multiply;

      @media screen and (max-width: 896px) {
        left: percent(2, 337);
      }
    }

    &-3 {
      right: percent(-74, 622);
      top: percent(-132, 331);

      width: 264px;
      height: 264px;
      background: rgba(0, 0, 0, 0.03);

      @media screen and (max-width: 896px) {
        right: percent(-116, 337);
      }
    }

    &-4 {
      right: percent(-39, 622);
      top: percent(78, 331);

      width: 106px;
      height: 106px;

      background: rgba(0, 0, 0, 0.04);
      mix-blend-mode: multiply;

      @media screen and (max-width: 896px) {
        right: percent(-68, 337);
        top: percent(82, 331);
      }
    }
  }
}

@import './select';
@import './popUp';
