.reviews {
  position: relative;

  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 186px;

  .slider__controls {
    width: 100%;
  }

  .slider__controls .swiper-button-prev {
    left: 16px;
  }

  .slider__controls .swiper-button-next {
    right: 16px;
  }

  &__btn {
    padding: 14px 70px;
    margin-top: -24px;
    z-index: 100;

    @media screen and (max-width: 1024px) {
      margin-top: 42px;
      z-index: initial;
    }

    @media screen and (max-width: 896px) {
      margin-top: 32px;
    }
  }
}