.reviews {
  position: relative;

  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 186px;

  @media screen and (max-width: 896px) {
    margin-bottom: 80px;
  }

  &__btn {
    padding: 14px 70px;
    z-index: 100;

    @media screen and (max-width: 1240px) {
      margin-top: 42px;
      z-index: initial;
    }

    @media screen and (max-width: 896px) {
      margin-top: 32px;
    }
  }
}
