.reviews {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 186px;

  &__title {
    margin-bottom: 205px;
  }

  &__slider {
    width: 100%;
  }

  &__inner {
    width: 100%;
    @extend %displayCenter;
  }

  &__wrapper {
    width: 1050px;
    @extend %displaySpaceBeetwen;
  }

  &__slide {
    max-width: 340px;
    @extend %displayCenter;
    flex-direction: column;
  }

  &__avatar {
    img {
      width: initial;
    }
  }

  &__content {
    @extend %displayCenter;
    flex-direction: column;
  }

  &__text {
    text-align: center;
  }

  &__btn {
    padding: 14px 70px;
  }
}