.selector {
  position: relative;

  &__box {
    position: relative;
    min-height: 48px;
    padding: 16px 14px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    border: 1px solid #dddee4;
    border-radius: 5px;

    font-weight: 600;
    font-size: 12px;
    line-height: 12px;
    color: rgba($color_grey, 0.4);

    cursor: pointer;

    &::after {
      content: '';
      position: absolute;
      height: 6px;
      width: 11px;

      right: 14px;

      background-image: url(../images/icons/selector-icon.svg);
      background-repeat: no-repeat;
      transition: all 0.3s ease-in;
    }

    &.show::after {
      transform: rotate(180deg);
    }
  }

  &__selected {
    color: $text_color1;
  }

  &__options {
    position: absolute;
    z-index: 3;
    top: 55px;

    width: 100%;

    border: 1px solid rgba($color_grey, 0.4);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    background-color: white;

    opacity: 0;
    visibility: hidden;

    transition: all 0.3s ease-in;

    &.show {
      opacity: 1;
      visibility: visible;
    }
  }

  &__item {
    min-height: 40px;
    padding: 10px 28px;
    background-color: transparent;
    transition: all 0.3s ease-in;
    cursor: pointer;

    &:hover {
      background-color: #f2f4f4;
    }
  }

  &__icon {
    width: 12px;
    height: 7px;

    & path {
      fill: #e0e0e0;
    }
  }
}
