.textblock {
  padding-top: 100px;

  @media screen and (max-width: 896px) {
    padding-top: 0px;
  }

  &__wrapper {
    padding-top: 60px;
    padding-bottom: 40px;

    &--ideas {
      background-color: $bg_color1;
    }

    &--trends {
      background-color: $bg_color2;
    }

    @media screen and (max-width: 896px) {
      padding-top: 50px;
      padding-bottom: 36px;
    }
  }

  &__title {
    margin-bottom: 32px;

    @media screen and (max-width: 896px) {
      margin-bottom: 24px;
    }
  }

  &__text {
    font-weight: 500;
    line-height: 26px;

    transition: all 0.3s ease-in-out;

    overflow: hidden;

    @media screen and (max-width: 1024px) {
      line-height: 24px;
    }

    @media screen and (max-width: 896px) {
      text-align: center;
      font-size: 14px;
      line-height: 140%;
    }
  }

  &__btn {
    color: $accent_color;
    font-weight: 600;
    line-height: 24px;
    margin-top: 24px;

    display: flex;
    align-items: center;
    justify-content: flex-end;

    cursor: pointer;
    user-select: none;
    @include transition;

    &-icon {
      stroke: #e97522;
      margin-left: 16px;
      transform: rotate(0deg);
      @include transition;
    }

    &:hover {
      color: $color_grey;
    }

    &:hover &-icon {
      stroke: $color_grey;
    }

    &.show &-icon {
      transform: rotate(180deg);
    }

    @media screen and (max-width: 896px) {
      font-size: 14px;
      line-height: 24px;

      margin-top: 22px;
      justify-content: center;
    }
  }
}

#textblock-trends {
  padding-top: 0;
}
