.service {
  margin-bottom: 40px;
  @extend %displayCenter;
  flex-direction: column;

  @media screen and (max-width: 1024px) {
    margin-bottom: 46px;
  }

  @media screen and (max-width: 896px) {
    margin-bottom: 32px;
  }

  &-title {
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    margin-bottom: 12px;
  }

  &-content {
    @extend %displaySpaceBeetwen;
    gap: 5px;

    @media screen and (max-width: 896px) {
      flex-wrap: wrap;
    }
  }

  &-item {
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #C2C2C2;
    border-radius: 5px;
    cursor: pointer;
    color: $text_color1;

    @include transition(background, 0.3s);

    @media screen and (max-width: 896px) {
      flex: 1 1 150px;
    }

    &:hover {
      background: #d3d2d2;
    }

    &.active {
      border: 1px solid $accent_color;
    }
  }
}